<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Steak House </title>

    <!-- stylesheets of Bootstrap  css -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Animate Css -->
  
    <link rel="stylesheet" href="~/Content/animate.min.css">

    <!-- Libarary of font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Hover Css -->
    <link rel="stylesheet" href="~/Content/hover-min.css">

    <!-- Small Slider -->
    <link rel="stylesheet" href="~/Content/flexslider.css">

    <!-- magnific vido and images -->
    <link rel="stylesheet" href="~/Content/magnific-popup.css">

    <link rel="stylesheet" href="~/Content/lightgallery.min.css">


    <link rel="stylesheet" href="~/Content/nivo-lightbox.css">
    <link rel="stylesheet" href="~/Content/nivo_themes/default/default.css">


    <!-- My Style CSS -->
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- My Media CSS -->
    <link rel="stylesheet" href="~/Content/media.css">


    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- ----------------------------------------------------------- -->

</head>


<body>


    <!-- ---------------------------------------------------------------------------------------------- -->
    <!-- Start Navbar -->

    <nav class="navbar navbar-default visible-xs-block">

        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">Steak House</a>

            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">

                    <li class="active">
                        <a href="#">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li>
                        <a href="#feature">Features</a>
                    </li>

                    <li>
                        <a href="#">About</a>
                    </li>

                    <li>
                        <a href="#">Menu</a>
                    </li>

                    <li>
                        <a href="#">Team</a>
                    </li>

                    <li>
                        <a href="#">Gallery</a>
                    </li>

                   <li>
                        <a href="#">Contact</a>
                    </li>

                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Start Home section -->
    <section id="home" class="Slide_Show text-center">

        <!-- Start and End overlay -->
        <div class="gradient-overlay"></div>

        <!-- Start container -->
        <div class="container">

            <!-- Start row -->
            <div class="row">
                <!-- start txt -->
                <div class="col-md-offset-2 col-md-8 col-sm-12 txt">
                    <h1 class="wow fadeInUp" data-wow-delay="0.6s">Steak House</h1>
                    <p class="wow fadeInUp lead" data-wow-delay="1.0s">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>

                    <a href="~/Home/Index#Features" class="wow fadeInUp btn btn-default hvr-bounce-to-top smoothScroll" data-wow-delay="1.3s">Discover Now</a>
                </div>

            </div>
            <!-- End row -->

        </div>
        <!-- End Container -->

    </section>
    <!-- End Home section -->
    <!-- ---------------------------------------------------------------------------------------------- -->
    <!-- Start Navbar -->

    <nav class="navbar navbar-default hidden-xs">

        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">Steak House</a>

            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">

                    <li class="active">
                        <a href="~/Home/Index">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/Home/Index#Features">Features</a>
                    </li>

                    <li>
                        <a href="~/Home/Index#about">About</a>
                    </li>

                    <li>
                        <a href="~/Home/Index#Menu">Menu</a>
                    </li>

                    <li>
                        <a href="~/Home/Index#Team">Team</a>
                    </li>

                    <li>
                        <a href="~/Home/Index#gallery">Gallery</a>
                    </li>

                    <li>
                        <a href="~/Home/Index#Contact">Contact</a>
                    </li>

                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<!-- End Navbar -->

    <!-- End Navbar2 -->
<div >
    <div class="row">
        @RenderBody()
    </div>
</div>
    <!-- Start Footer -->

    <section class="footer">

        <div class="container">

            <div class="row">

                <div class="col-md-10">
                    <p>
                        Copyright &copy; 2018 Steak House Company - Designed by
                        <a href="https://www.facebook.com/said.oraby.75" target="_blank">
                            El Sayed Oraby 
                        </a>
                        & Develop by
                        <a href="https://www.facebook.com/esraa.kasem.98" target="_blank">
                       Esraa kasem
                        </a>
                    </p>
                </div>

                <div class="col-md-3">
                    <div id="Scroll-top">
                        <i class="fa fa-chevron-up fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- End Footer -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Slide Show images #Home  -->
    <script src="~/Scripts/jquery.backstretch.min.js"></script>

    <!-- Small Slider -->
    <script src="~/Scripts/jquery.flexslider-min.js"></script>

    <!-- magnific vido and images -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>

    <script src="~/Scripts/jquery.nicescroll.min.js"></script>

    <script src="~/Scripts/wow.min.js"></script>

    <script>
        new WOW().init();
    </script>

    <script src="~/Scripts/isotope.js"></script>
    <script src="~/Scripts/imagesloaded.min.js"></script>
    <script src="~/Scripts/nivo-lightbox.min.js"></script>

    <script src="~/Scripts/jquery.flexslider-min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- Java Script Code -->
    <script src="~/Scripts/plugin.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>